exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - any_additional_item
  - README.md
  - CONTRIBUTING.md
  - LICENSE

# Site settings
title: BIDS Apps
description: "portable neuroimaging pipelines that understand BIDS datasets"
url: "http://bids-apps.neuroimaging.io/"
baseurl: ""
# google_analytics: 'UA-XXXXXX-X'
repo_url: "https://github.com/bids-apps/bids-apps.github.io"

author:
  name: "BIDS Apps contributors"
  twitter_username: bidsstandard
  email: bids.maintenance+apps@gmail.com
  github_username: bids-standard

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

plugins:
  - jekyll-paginate

# Defines buttons and links to the pages that will be displayed in the nav bar
# see _includes/header.html
# If the markdown document in the root of the repo is foo.md, then "src" must be "foo"
navigation:
  - src: "apps"
    name: "Apps"
  - src: "about"
    name: "About"
  - src: "tutorial"
    name: "Tutorials"
  - src: "dev_faq"
    name: "Developer FAQ"

apps:
  # apps that are part of the bids apps github organization
  # sorted alphabetically by app name
  - gh: "bids-apps/aa"
    dh: "bids/aa"

  - gh: "bids-apps/afni_proc"
    dh: "bids/afni_proc"

  - gh: "bids-apps/antsCorticalThickness"
    dh: "bids/antscorticalthickness"

  - gh: "bids-apps/baracus"
    dh: "bids/baracus"

  - gh: "bids-apps/brainiak-srm"
    dh: "bids/brainiak-srm"

  - gh: "bids-apps/BROCCOLI"
    dh: "bids/broccoli"

  - gh: "bids-apps/CPAC"
    dh: "bids/cpac"

  - gh: "bids-apps/DPARSF"
    dh: "bids/dparsf"

  - gh: "bids-apps/example"
    dh: "bids/example"

  - gh: "bids-apps/FibreDensityAndCrosssection"
    dh: "bids/fibredensityandcrosssection"

  - gh: "bids-apps/freesurfer"
    dh: "bids/freesurfer"

  - gh: "bids-apps/HCPPipelines"
    dh: "bids/hcppipelines"

  - gh: "bids-apps/hyperalignment"
    dh: "bids/hyperalignment"

  - gh: "bids-apps/MAGeTbrain"
    dh: "bids/magetbrain"

  - gh: "bids-apps/mindboggle"
    dh: "bids/mindboggle"

  - gh: "bids-apps/MRtrix3_connectome"
    dh: "bids/mrtrix3_connectome"

  - gh: "bids-apps/ndmg"
    dh: "bids/ndmg"

  - gh: "bids-apps/niak"
    dh: "bids/niak"

  - gh: "bids-apps/nipypelines"
    dh: "bids/nipypelines"

  - gh: "bids-apps/oppni"
    dh: "bids/oppni"

  - gh: "bids-apps/PyMVPA"
    dh: "bids/pymvpa"

  - gh: "bids-apps/QAP"
    dh: "bids/qap"

  - gh: "bids-apps/rs_signal_extract"
    dh: "bids/rs_signal_extract"

  - gh: "bids-apps/rsHRF"
    dh: "bids/rshrf"

  - gh: "bids-apps/SPM"
    dh: "bids/spm"

  - gh: "bids-apps/tracula"
    dh: "bids/tracula"

  # apps hosted somewhere else
  # sorted alphabetically by DockerHub (dh)

  - gh: 'khanlab/funcmasker-flex'
    dh: 'khanlab/funcmasker-flex'

  - gh: "khanlab/hippunfold"
    dh: "khanlab/hippunfold"

  - gh: "MICA-MNI/micapipe"
    dh: "micalab/micapipe"

  - gh: "nipreps/fmriprep"
    dh: "nipreps/fmriprep"

  - gh: "nipreps/dmriprep"
    dh: "nipreps/dmriprep"

  - gh: "nipreps/mriqc"
    dh: "nipreps/mriqc"

  - gh: "nipreps/nibabies"
    dh: "nipreps/nibabies"

  - gh: "nipreps/nirodents"
    dh: "nipreps/nirodents"

  - gh: "nipreps/smriprep"
    dh: "nipreps/smriprep"

  - gh: "PeerHerholz/BIDSonym"
    dh: "peerherholz/bidsonym"

  - gh: "PennLINC/qsiprep"
    dh: "pennbbl/qsiprep"

  - gh: "connectomicslab/connectomemapper3"
    dh: "sebastientourbier/connectomemapper-bidsapp"

  - gh: "sebastientourbier/multiscalebrainparcellator"
    dh: "sebastientourbier/multiscalebrainparcellator"

  - gh: "Medical-Image-Analysis-Laboratory/mialsuperresolutiontoolkit"
    dh: "sebastientourbier/mialsuperresolutiontoolkit"

  - gh: "trendscenter/gift-bids"
    dh: "trends/gift-bids"
