exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - any_additional_item
  - README.md
  - CONTRIBUTING.md
  - LICENSE

# Site settings
title: BIDS Apps
description: "portable neuroimaging pipelines that understand BIDS datasets"
url: "https://bids-apps.neuroimaging.io/"
baseurl: ""
# google_analytics: "UA-XXXXXX-X"
repo_url: "https://github.com/bids-apps/bids-apps.github.io"

author:
  name: "BIDS Apps contributors"
  twitter_username: bidsstandard
  email: bids.maintenance+apps@gmail.com
  github_username: bids-standard

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

plugins:
  - jekyll-paginate

# Defines buttons and links to the pages that will be displayed in the nav bar
# see _includes/header.html
# If the markdown document in the root of the repo is foo.md, then "src" must be "foo"
navigation:
  - src: "apps"
    name: "Apps"
  - src: "about"
    name: "About"
  - src: "tutorial"
    name: "Tutorials"
  - src: "dev_faq"
    name: "Developer FAQ"

apps:

# template for adding an app
  # - gh: "github_usename/github_repo_name"
  #   dh: "dockerhub_usename/dockerhub_repo_name"
  #   status: unmaintained
  #   ds_type:
  #     - raw
  #     - derivative
  #   datatype:
  #     - anat
  #     - func
  #     - dwi
  #     - fmap
  #     - eeg
  #   ci: Continuous integration service.
  #       Defaults to "circleci"
  #       Can be any of:
  #         - "gh"
  #         - "travis"
  #         - "circleci"
  #         - "none"
  #   branch: Default branch of the repo. Defaults to "master"
  #   workflow: Name of the test workflow.

  # apps that are part of the bids apps github organization
  # sorted alphabetically by app name

  - gh: "bids-apps/aa"
    status: active
    dh: "bids/aa"
    ds_type:
      - raw
      - derivative

  - gh: "bids-apps/afni_proc"
    status: active
    dh: "bids/afni_proc"
    ds_type:
      - raw
    datatype:
      - func

  - gh: "bids-apps/antsCorticalThickness"
    status: active
    dh: "bids/antscorticalthickness"
    ds_type:
      - raw
    datatype:
      - anat

  - gh: "bids-apps/baracus"
    status: active
    dh: "bids/baracus"
    ds_type:
      - raw
    datatype:
      - anat

  - gh: "bids-apps/brainiak-srm"
    status: active
    dh: "bids/brainiak-srm"
    ds_type:
      - derivative
    datatype:
      - func

  - gh: "bids-apps/BROCCOLI"
    status: active
    dh: "bids/broccoli"

  - gh: "bids-apps/CPAC"
    status: active
    dh: "bids/cpac"
    ds_type:
      - raw
    datatype:
      - func

  - gh: "bids-apps/DPARSF"
    status: active
    dh: "bids/dparsf"
    ds_type:
      - raw     # ??
    datatype:
      - func

  - gh: "bids-apps/example"
    status: active
    dh: "bids/example"

  - gh: "bids-apps/FibreDensityAndCrosssection"
    status: unmaintained
    dh: "bids/fibredensityandcrosssection"
    ds_type:
      - mri
    datatype:
      - dmri

  - gh: "bids-apps/freesurfer"
    status: active
    dh: "bids/freesurfer"
    ds_type:
      - raw
    datatype:
      - func

  - gh: "bids-apps/HCPPipelines"
    status: active
    dh: "bids/hcppipelines"
    ds_type:
      - raw
    datatype:
      - anat
      - func
      - dwi

  - gh: "bids-apps/hyperalignment"
    status: active
    dh: "bids/hyperalignment"
    ds_type:
      - derivative
    datatype:
      - func

  - gh: "bids-apps/MAGeTbrain"
    status: active
    dh: "bids/magetbrain"
    ds_type:
      - raw
    datatype:
      - anat

  - gh: "bids-apps/mindboggle"
    status: active
    dh: "bids/mindboggle"
    ds_type:
      - raw
    datatype:
      - anat

  - gh: "bids-apps/MRtrix3_connectome"
    status: active
    dh: "bids/mrtrix3_connectome"
    ds_type:
      - raw
      - derivative
    datatype:
      - dwi

  - gh: "bids-apps/ndmg"
    status: active
    dh: "bids/ndmg"
    ds_type:
      - raw
    datatype:
      - anat
      - dwi

  - gh: "bids-apps/niak"
    status: active
    dh: "bids/niak"

  - gh: "bids-apps/nipypelines"
    status: active
    dh: "bids/nipypelines"
    ds_type:
      - raw
    datatype:
      - func

  - gh: "bids-apps/oppni"
    status: active
    dh: "bids/oppni"
    ds_type:
      - raw
    datatype:
      - func

  - gh: "bids-apps/PyMVPA"
    status: active
    dh: "bids/pymvpa"
    ds_type:
      - derivative
    datatype:
      - func

  - gh: "bids-apps/QAP"
    status: active
    dh: "bids/qap"
    ds_type:
      - raw
    datatype:
      - anat
      - func

  - gh: "bids-apps/rs_signal_extract"
    status: active
    dh: "bids/rs_signal_extract"
    ds_type:
      - derivative
    datatype:
      - func

  - gh: "bids-apps/rsHRF"
    status: active
    dh: "bids/rshrf"
    ds_type:
      - derivative
    datatype:
      - func

  - gh: "bids-apps/SPM"
    status: active
    dh: "bids/spm"
    ds_type:
      - raw
      - derivative

  - gh: "bids-apps/tracula"
    status: active
    dh: "bids/tracula"
    ds_type:
      - raw
    datatype:
      - dwi

  # apps hosted somewhere else
  # sorted alphabetically by DockerHub (dh)

  - gh: "cpp-lln-lab/bidsMReye"
    status: active
    dh: "cpplab/bidsmreye"
    ci: "gh"
    branch: "main"
    workflow: "system_tests"
    ds_type:
      - derivative
    datatype:
      - func

  - gh: "cpp-lln-lab/bidspm"
    status: active
    dh: "cpplab/bidspm"
    ci: "gh"
    branch: "main"
    workflow: "tests"
    ds_type:
      - raw
      - derivative
    datatype:
      - anat
      - func

  - gh: "khanlab/funcmasker-flex"
    status: active
    dh: "khanlab/funcmasker-flex"
    ci: "gh"
    branch: "main"
    workflow: "test"
    ds_type:
      - raw
    datatype:
      - func

  - gh: "trendscenter/gift-bids"
    status: active
    dh: "trends/gift-bids"
    ci: "none"

  - gh: "khanlab/hippunfold"
    status: active
    dh: "khanlab/hippunfold"

  - gh: "MICA-MNI/micapipe"
    status: active
    dh: "micalab/micapipe"

  - gh: "nipreps/fmriprep"
    status: active
    dh: "nipreps/fmriprep"
    ds_type:
      - raw
    datatype:
      - anat
      - func

  - gh: "nipreps/dmriprep"
    status: active
    dh: "nipreps/dmriprep"
    ds_type:
      - raw
    datatype:
      - anat
      - dwi

  - gh: "nipreps/mriqc"
    status: active
    dh: "nipreps/mriqc"
    ds_type:
      - raw
    datatype:
      - anat
      - func

  - gh: "nipreps/nibabies"
    status: active
    dh: "nipreps/nibabies"
    ds_type:
      - raw
    datatype:
      - anat
      - func

  - gh: "nipreps/nirodents"
    status: active
    dh: "nipreps/nirodents"
    ds_type:
      - raw
    datatype:
      - anat
      - func

  - gh: "nipreps/smriprep"
    status: active
    dh: "nipreps/smriprep"
    ds_type:
      - raw

  - gh: "PeerHerholz/BIDSonym"
    status: active
    dh: "peerherholz/bidsonym"
    ci: "travis"
    branch: "master"
    ds_type:
      - raw
    datatype:
      - anat

  - gh: "PennLINC/qsiprep"
    status: active
    dh: "pennbbl/qsiprep"
    ds_type:
      - raw

  - gh: "connectomicslab/connectomemapper3"
    status: active
    dh: "sebastientourbier/connectomemapper-bidsapp"
    ds_type:
      - raw
      - derivative
    datatype:
      - anat
      - func
      - dwi
      - eeg

  - gh: "sebastientourbier/multiscalebrainparcellator"
    status: active
    dh: "sebastientourbier/multiscalebrainparcellator"
    ds_type:
      - raw
    datatype:
      - anat

  - gh: "Medical-Image-Analysis-Laboratory/mialsuperresolutiontoolkit"
    status: active
    dh: "sebastientourbier/mialsuperresolutiontoolkit"
