{{/*  Plots the apps by filtering as maintained or not */}}

<table>
    {% for app in site.apps %}

      {% assign display = false %}
      {% if app.status contains include.status %}
        {% assign display = true %}
      {% endif %}
      {% if display %}
      {% else %}
        {% continue %}
      {% endif %}

      {% if app.branch %}
        {% assign branch = app.branch %}
      {% else %}
        {% assign branch = "master" %}
      {% endif %}

      {% include table_row.html app=app branch=branch %}

    {% endfor %}
  </table>
