<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header
  class="panel-cover"
  style="background-image: url({{ site.baseurl }}/images/cover.jpg)"
>
  <div class="panel-main">
    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <img src="{{ site.baseurl }}/images/BIDS_apps_logo_black.jpg" class="user-image" alt="BIDS Apps logo" />
        <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />

        <div class="navigation-wrapper">
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              {% for page in site.navigation %}

              <li class="navigation__item">
                <a
                  href="/{{ page.src }}"
                  title="link to {{ site.title }} {{ page.name }}"
                  class="slide-button"
                  >{{ page.name }}</a
                >
              </li>

              {% endfor %}
            </ul>
          </nav>

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">
              <!-- Twitter -->
              {% if site.author.twitter_username %}
              <li class="navigation__item">
                <a
                  href="https://twitter.com/{{ site.author.twitter_username }}"
                  title="@{{ site.author.twitter_username }} on Twitter"
                  target="_blank"
                >
                  <i class="icon icon-social-twitter"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
              {% endif %}

              <!-- GitHub -->
              {% if site.author.github_username %}
              <li class="navigation__item">
                <a
                  href="https://www.github.com/{{ site.author.github_username }}"
                  title="{{ site.author.github_username }} on GitHub"
                  target="_blank"
                >
                  <i class="icon icon-social-github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %}

              <!-- Email -->
              {% if site.author.email %}
              <li class="navigation__item">
                <a
                  href="mailto:{{ site.author.email }}"
                  title="Email {{ site.author.email }}"
                  target="_blank"
                >
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
