{% assign app = include.app %} {% assign branch = include.branch %} {% assign
tokens = app.gh | split: "/" %} {% assign app_name = tokens[1] %}

<tr>
  <td>
    <a href="https://github.com/{{ app.gh }}">{{ app_name }}</a>
  </td>
  <td>
    <img
      alt="version tag"
      src="https://img.shields.io/github/v/tag/{{ app.gh | downcase }}?label=version"
    />
  </td>

  <td>
    {% if app.ci == "travis" %}
    <a href="https://app.travis-ci.com/{{ app.gh }}">
      <img
        src="https://app.travis-ci.com/{{ app.gh }}.svg?branch={{ branch }}"
      />
    </a>
    {% elsif app.ci == "gh" %}
    <a
      href="https://github.com/{{ app.gh }}/actions/workflows/{{ app.workflow }}.yml/"
    >
      <img
        src="https://github.com/{{ app.gh }}/actions/workflows/{{ app.workflow }}.yml/badge.svg?branch={{ branch }}"
      />
    </a>
    {% elsif app.ci == "none" %}
    <img src="https://img.shields.io/badge/CI-unavailable-lightgrey" />
    {% else %}
    <a href="https://circleci.com/gh/{{ app.gh }}/tree/{{ branch }}">
      <img src="https://circleci.com/gh/{{ app.gh }}.svg?style=shield" />
    </a>
    {% endif %}
  </td>

  <td>
    <img
      alt="GitHub last commit"
      src="https://img.shields.io/github/last-commit/{{ app.gh }}?style=plastic"
    />
  </td>

  <td>
    <a
      href="https://github.com/{{ app.gh }}/issues?q=is%3Aopen+is%3Aissue+label%3Abug"
    >
      <img
        alt="Number of open issues on github"
        src="https://img.shields.io/github/issues-raw/{{ app.gh }}"
      />
    </a>
  </td>

  <td>
    <a href="https://hub.docker.com/r/{{ app.dh | downcase }}/">
      <img
        alt="Number of Docker Pulls"
        src="https://img.shields.io/docker/pulls/{{ app.dh | downcase }}"
      />
    </a>
  </td>

  <td>
    <img
      alt="Docker Image Size (latest by date)"
      src="https://img.shields.io/docker/image-size/{{ app.dh | downcase }}"
    />
  </td>
</tr>
