<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div style="display: flex; flex-direction: column; text-align: center">
      <h3>
        The BIDS apps website moved to the <a href="https://bids.neuroimaging.io/" target="_blank">new BIDS website</a>.
      </h3>
      <p style="text-align: center">Go and check it out and let us know what you think.</p>
    </div>

    <div class="content-wrapper">
      <div class="content-wrapper__inner">{{ content }}</div>

      {% include footer.html %}
    </div>
  </body>
</html>
