<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <div class="banner">
        <h3>THIS SITE IS BEING MOVED</h3>
        <p>The BIDS group is currently working to merge our existing websites.</p>
        <p>
          The BIDS-app website will be moved into the <a href="https://bids-website.readthedocs.io" 
          target="_blank"
          title="New BIDS Website (https://bids-website.readthedocs.io)"
          class="custom-link">new BIDS website</a>.
          It is still being finalized,
          but we encourage feedback, suggestions,
          and comments via the giscus form on the bottom of the main page as we consolidate BIDS resources.
        </p>
      </div>
    </div>
      
    {% include header.html %}

    <div class="content-wrapper">
      <div class="content-wrapper__inner">{{ content }}</div>

      {% include footer.html %}
    </div>
  </body>
</html>
