---
name: update dashboard

on:
    pull_request:
        branches: ['**']
    push:
        branches:
        -   master

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    black:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3

        -   uses: actions/setup-python@v4
            with:
                python-version: '3.11'

        -   name: Install
            run: |
                python -m pip install --upgrade pip
                pip install -r tools/requirements.txt

        -   name: Validate
            run: python tools/validate_apps.py
